.result-text {
  text-align: center;
  margin-bottom: 32px;
  color: var(--Grey-800, #344054);
  font-family: "PingFang SC";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  /* 137.5% */
}


.result-text-filename {
  margin-left: 4px;
  margin-right: 4px;
}


.result-top {
  margin-bottom: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.result-top-engine {
  width: 120px;
  text-align: center;
}


.result-top-status {
  width: 200px;
  color: var(--Grey-800, #344054);

  /* 中文/14/Normal */
  font-family: "PingFang SC";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  /* 157.143% */
  text-align: center;
}


.result-top-duration {
  width: 150px;
  color: var(--Grey-800, #344054);

  /* 中文/14/Normal */
  font-family: "PingFang SC";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  /* 157.143% */
  text-align: center;
}


.result-top-transcription {
  width: 120px;
  color: var(--Grey-800, #344054);

  /* 中文/14/Normal */
  font-family: "PingFang SC";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  /* 157.143% */
  text-align: right;
}


.result-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
}

.result-item+.result-item {
  margin-top: 24px;
}


.result-status {
  margin-top: 32px;
  margin-bottom: 32px;
  color: var(--Grey-800, #344054);

  /* 中文/14/Normal */
  font-family: "PingFang SC";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;

  text-align: center;
}



.result-item-duration {
  display: flex;
  width: 150px;
  padding: 5px 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 6px;
  border: 1px solid var(--Grey-300, #EAECF0);
  background: var(---1_colorLightbg, #F9FAFB);
  color: var(--Grey-600, #667085);

  /* 中文/14/Normal */
  font-family: "PingFang SC";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  /* 157.143% */
}


.result-item-btn {
  margin-left: 12px;
  display: flex;
  width: 100px;
  padding: 8px 14px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
  background: var(--primary-500-base, #3D53F5);

  /* Shadow/xs */
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  color: var(---white, #FFF);
  font-family: "PingFang SC";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  /* 142.857% */
  cursor: pointer;
  box-sizing: border-box;
}

.result-item-btn__disable {
  background: var(--Primary-300-T, #8B98F9);
}


.result-item-status {
  text-align: center;
}
