.center-wrapper {
  position: absolute;
  top: 100px;
  width: 684px;
  left: 50%;
  transform: translateX(-50%);
}

.text-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-text {
  font-family: "Helvetica Neue";
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: linear-gradient(90deg, #151227 0.06%, #5F42FF 101.68%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bottom-text {
  margin-top: 7px;
  color: var(--Grey-950, #101828);
  font-family: "Helvetica Neue";
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 60px;
}
